<h2>Área Restrita</h2>
<p>Bem-vindo, {{ user.username }}!</p>
<p>Email: {{ user.email }}</p>
<p>Bio: {{ user.bio }}</p>
<p>Apelido: {{ user.apelido }}</p>

{% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="Avatar" width="150">
{% else %}
    <p>Sem avatar.</p>
{% endif %}
<h2>Meu Treino da Semana</h2>

{% if treino %}
    <ul>
        {% for t in treino %}
            <li><strong>{{ t.dia|title }}</strong>: {{ t.musculos|title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum treino cadastrado ainda.</p>
{% endif %}


<a href="{% url 'logout' %}">Sair</a>
