{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'title' %}pagina de catalogo {% endblock %}

{% block 'body' %}
<br>
<br>
<div class="boot">
  <a href="{% url 'home'%}"><img class="mb-4" src="{% static 'img/logobranco.png' %}" alt="" width="100" height="100" style="width: 100%;"></a>
  {% if erro %}<p style="color:red;">{{ erro }}</p>{% endif %}
  <form name="formLogin" style="display: flex;flex-direction: column;align-items: center;" id="formLogin" class="formLogin" method="post">
  {% csrf_token %}
    <div class="form-floating">
      <input type="text" class="form-control" style="width: auto;" id="usuarioUsername" name="usuarioUsername" placeholder="Digite seu usuário">
      <label for="usuarioUsername">Usuário</label>
    </div>
    <div class="form-floating">
      <input type="password" style="width: auto;" class="form-control" id="usuarioSenha" name="usuarioSenha" placeholder="Senha">
      <label for="usuarioSenha">Senha</label>
    </div>

  <div class="checkbox mb-3">
  </div>
  <input class="bota btn btn-lg btn-primary" type="submit" value="Entrar">
  </form>
  <p class="mt-5 mb-3 text-muted">Caso seja novo por aqui tente se <a href="{% url 'registrar' %}">Cadastrar</a></p>
<p class="mt-5 mb-3 text-muted">&copy;2025</p>
</div>




{% endblock %}
