{% extends 'base.html' %}
{% load static %}

{% block 'title' %}pagina de catalogo {% endblock %}

{% block 'head' %}
<style>
  #preview {
    /* margin-top: 20px;
    max-width: 300px;
    border-radius: 8px; */
    /* display: none; */
  }
</style>
{% endblock %}

{% block 'body' %}
<div class="registrar-usuario">
 <h2>Registrar Usuário</h2>
  {% if erro %}<p style="color:red;">{{ erro }}</p>{% endif %}
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="personal-image">
        <label class="label">
          <input type="file" id="avatar-perfil" name="avatar" accept="image/*"/>
          <figure class="personal-figure">
            <img class="personal-avatar" id="preview" src="{% if usuario_dados.avatar %}{{ usuario_dados.avatar.url }}{% else %}{% static 'img/default-avatar.jfif' %}{% endif %}" alt="Avatar do usuário" /><br>

            <figcaption class="personal-figcaption">
              <img src="{% static 'img/camera-white.png' %}">
            </figcaption>
          </figure>
        </label>
      </div>
    <label>Apelido:</label>
    <input class="form-control" type="text" name="apelido"><br>
    <label>Usuário:</label>
    <input class="form-control" type="text" name="username"><br>
    <label>Email:</label>
    <input class="form-control" type="email" name="email"><br>
    <label>Senha:</label>
    <input class="form-control" type="password" name="password1"><br>
    <label>Confirme a senha:</label>
    <input class="form-control" type="password" name="password2"><br>
    <label>Bio:</label><br>
    <textarea class="form-control" name="bio" rows="4" cols="40"></textarea><br>
    <button type="submit">Registrar</button>
   </form>

  <a href="{% url 'login' %}">Já tenho conta</a>
</div>

<script>
  const fileInput = document.getElementById('avatar-perfil');
  const preview = document.getElementById('preview');

  fileInput.addEventListener('change', () => {
    const file = fileInput.files[0];
    if (file) {
      const imageUrl = URL.createObjectURL(file);
      preview.src = imageUrl;
      preview.style.display = 'block';

      // libera o objeto URL quando não for mais necessário
      preview.onload = () => URL.revokeObjectURL(preview.src);
    } else {
      preview.style.display = 'none';
    }
  });
</script>
{% endblock %}