{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'title' %}pagina de catalogo {% endblock %}

{% block 'body' %}
<div class="funcionalidades">
 <h1>calcule sua dieta e<br> personalize seu treino</h1>
</div>
 <br>
<div class="categorias">
  <div class="tds">
    <p>🥗 Calcule e Monte sua dieta personalizada <br>
      </p>
    <a href="{% url 'dieta' %}"><img style="width: 95%;" src="{% static 'img/dieta.png' %}" alt="foto-de-dieta"></a>
  </div>
  <div class="tds">
    <p>📅 crie seu cronograma de treinos</p>
    <a href="{% url 'cronograma' %}"><img style="width: 95%;" src="{% static 'img/calendario.png' %}" alt="foto-de-dieta"></a>
  </div>
  <div class="tds">
    <p>📓 anote suas cargas
</p>
    <a href="{% url 'musculos' %}"><img style="width: 95%;" src="{% static 'img/ChatGPT Image 10 de set. de 2025, 20_16_17.png' %}" alt="foto-treinando"></a>
  </div>
</div>
<br>
<div class="funcionalidades">
<h2>treinos e exercicios</h2>
</div>
<br>  
<div class="categoria">
  <div class="td">
    <p>💪 Treine o músculo certo com os melhores exercícios
    </p>
    <a href="{% url 'cargas' %}"><img style="width: 95%;" src="{% static 'img/ChatGPT Image 10 de set. de 2025, 20_17_01.png' %}" alt="foto-treinando"></a>
   </div>
  <div class="tds">
      <p>💪 Treine o músculo certo com os melhores exercícios
      </p>
    <a href="{% url 'cargas' %}"><img style="width: 95%;" src="{% static 'img/musculos.png' %}" alt="foto-treinando"></a>
  </div>
  <div class="tds">
      <p>💪 Treine o músculo certo com os melhores exercícios
      </p>
    <a href="{% url 'cronograma' %}"><img style="width: 95%;" src="{% static 'img/ChatGPT Image 10 de set. de 2025, 20_18_02.png' %}" alt="foto-treinando"></a>
  </div>
</div>

{% endblock %}